# development
**/*.pyc

**/.idea/
**/venv/
.venv/** 
venv/**
**/env/
.env/** 
env/**
**/report.html
**/size-plugin.json
**/node_modules/
**/.cache/
**/.pytest_cache/
**/__pycache__/
**/.vscode

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# secrets
**/README.md

# .env
.DS_Store
.vscode/*
!.vscode/extensions.json

.yarn/
*.TODO.md


